# Assignment 2: Data Modelling

# Due date: Jan 4, 2020

# Import Libraries

In [7]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

# seaborn theme
sns.set_theme(style="darkgrid")

# Task 1.1: Data Prepatation

In [13]:
# import training dataset
df_train = pd.read_csv("X_train.csv")

# max column
pd.options.display.max_columns = None

#print data
df_train.head()

,id,title,link,series,cover_link,author,author_link,rating_count,review_count,number_of_pages,date_published,publisher,original_title,genre_and_votes,isbn,isbn13,asin,settings,characters,awards,amazon_redirect_link,worldcat_redirect_link,recommended_books,books_in_series,description
0,2533958,Frost/Nixon,https://www.goodreads.com//book/show/2533958.F...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,David Frost,https://www.goodreads.com/author/show/264173.D...,523,51,338.0,December 31st 1975,MacMillan,Frost/Nixon: Behind the Scenes of the Nixon In...,"History 42, Nonfiction 33, Politics 28, Biogra...",0230531148,9780230531147,NaN,NaN,"Richard Nixon, David Frost",NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"13167112, 13167112, 29429295, 2074322, 3025937...",NaN,Including hilarious tales of the people he enc...
1,16071790,Just What Kind of Mother Are You?,https://www.goodreads.com//book/show/16071790-...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,Paula Daly,https://www.goodreads.com/author/show/6175529....,10092,1236,320.0,April 28th 2013,Doubleday Canada,Just What Kind of Mother Are You?,"Mystery 136, Fiction 122, Thriller 90, Suspens...",0385680074,9780385680073,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/1?...,https://www.goodreads.com//book_link/follow/8?...,"42614702, 42614702, 42182331, 45730306, 379129...",NaN,A searing and sinister thriller for readers wh...
2,13825165,Cafenova,https://www.goodreads.com//book/show/13825165-...,(Clairmont #1),https://i.gr-assets.com/images/S/compressed.ph...,S. Jane Scheyder,https://www.goodreads.com/author/show/5871778....,769,90,318.0,November 17th 2010,Andres & Blanton,NaN,"Romance 52, Womens Fiction-Chick Lit 21, Chris...",0983031800,9780983031802,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"89959, 89959, 59091, 1996085, 25843420, 364288...",23498673,"Leaving her broken heart behind in Seattle, Ma..."
3,18061,Uncle Fred in the Springtime,https://www.goodreads.com//book/show/18061.Unc...,(Uncle Fred #1),https://i.gr-assets.com/images/S/compressed.ph...,P.G. Wodehouse,https://www.goodreads.com/author/show/7963.P_G...,4200,328,288.0,1939,Everyman,Uncle Fred in the Springtime,"Fiction 153, Humor 133, Humor-Comedy 31, Class...",1841591300,9781841591308,NaN,NaN,"Clarence Threepwood, Sebastian Beach, Rupert B...",NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"17910171, 17910171, 13418137, 48839090, 390885...","16241184, 16241186, 16241198",Pongo Twistleton is in a state of financial em...
4,3766428,Double Share,https://www.goodreads.com//book/show/3766428-d...,(Golden Age of the Solar Clipper #4),https://i.gr-assets.com/images/S/compressed.ph...,Nathan Lowell,https://www.goodreads.com/author/show/1048167....,4212,184,308.0,2008,Podiobooks,"Double Share (Golden Age of the Solar Clipper,...","Science Fiction 120, Space-Space Opera 37, Fic...",NaN,NaN,NaN,NaN,Ishmael Horatio Wang,Parsec Award Nominee for Best Speculative Fict...,https://www.goodreads.com//book_link/follow/17...,NaN,"53172544, 53172544, 20951387, 52856493, 444219...","2334538, 2906048, 4266110, 6963764, 10054649, ...","In his first assignment as an officer, Ishmael..."

In [17]:
# import training dataset
df_test = pd.read_csv("X_test.csv")

#print test dataset
df_test.head()

,id,title,link,series,cover_link,author,author_link,rating_count,review_count,number_of_pages,date_published,publisher,original_title,genre_and_votes,isbn,isbn13,asin,settings,characters,awards,amazon_redirect_link,worldcat_redirect_link,recommended_books,books_in_series,description
0,6333213,The Way of the Bow,https://www.goodreads.com//book/show/6333213-t...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,Paulo Coelho,https://www.goodreads.com/author/show/566.Paul...,2179,180,76.0,2003,NaN,The Way of the Bow,"Fiction 39, Philosophy 15, Inspirational 6, Se...",0557010071,9.780557e+12,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"52049749, 52049749, 9242583, 50058600, 1194740...",NaN,âThe Way of the Bowâ relates the story of ...
1,493553,The Silver Child,https://www.goodreads.com//book/show/493553.Th...,(Silver Sequence #1),https://i.gr-assets.com/images/S/compressed.ph...,Cliff McNish,https://www.goodreads.com/author/show/27813.Cl...,874,84,192.0,August 1st 2003,First Avenue Editions,The Silver Child,"Fantasy 30, Young Adult 15, Science Fiction 14...",082256503X,9.780823e+12,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"13542616, 13542616, 13274082, 16072988, 58085,...","36448526, 36448541",Six children leave the comfort of their homes....
2,25574766,Il ladro di nebbia,https://www.goodreads.com//book/show/25574766-...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,Lavinia Petti,https://www.goodreads.com/author/show/14006459...,219,36,412.0,May 21st 2015,Longanesi,NaN,"Fantasy 8, Fiction 3",NaN,NaN,B00WX990QQ,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/1?...,https://www.goodreads.com//book_link/follow/8?...,"9707981, 9707981, 52331839, 25663617, 22027260...",NaN,Antonio M. Fonte Ã¨ uno scrittore di enorme su...
3,133411,"Gods, Graves and Scholars: The Story of Archae...",https://www.goodreads.com//book/show/133411.Go...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,"C.W. Ceram, Sophie Wilkins, E.B. Garside",https://www.goodreads.com/author/show/4651612....,1834,145,536.0,1949,Vintage,"GÃ¶tter, GrÃ¤ber und Gelehrte: Roman der ArchÃ...","History 241, Nonfiction 149, History-Archaeolo...",0394743199,9.780395e+12,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"935992, 935992, 23487060, 189589, 883503, 9611...",NaN,C.W. Ceram visualized archeology as a wonderfu...
4,64279,Heaven and Hell,https://www.goodreads.com//book/show/64279.Hea...,(North and South #3),https://i.gr-assets.com/images/S/compressed.ph...,John Jakes,https://www.goodreads.com/author/show/5768.Joh...,10369,222,781.0,1987,Signet,Heaven and Hell,"Historical-Historical Fiction 459, Fiction 194...",0451200837,9.780451e+12,NaN,NaN,NaN,NaN,https://www.goodreads.com//book_link/follow/17...,https://www.goodreads.com//book_link/follow/8?...,"73062, 73062, 8716, 65959, 891922, 1503274, 16...","159178, 159177",The last days of the Civil War bring no peace ...

# Describe the Datasets

In [36]:
print (f"Train has {df_train.shape[0]} rows and {df_train.shape[1]} columns")
print (f"Test has {df_test.shape[0]} rows and {df_test.shape[1]} columns")

Train has 41759 rows and 25 columns
Test has 10440 rows and 25 columns

In [39]:
df_train.describe()

                 id  rating_count   review_count  number_of_pages
count  4.175900e+04  4.175900e+04   41759.000000     39886.000000
mean   1.012620e+07  1.893641e+04    1011.811729       329.366093
std    1.162310e+07  1.204193e+05    4129.329384       250.991146
min    1.000000e+00  0.000000e+00       0.000000         0.000000
25%    3.639875e+05  3.460000e+02      32.000000       211.000000
50%    6.365996e+06  2.295000e+03     164.000000       304.000000
75%    1.737325e+07  9.271000e+03     626.500000       393.000000
max    5.444299e+07  6.801077e+06  169511.000000     11095.000000

In [40]:
# training dataset info
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41759 entries, 0 to 41758
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      41759 non-null  int64
 1   title                   41759 non-null  object
 2   link                    41759 non-null  object
 3   series                  18647 non-null  object
 4   cover_link              41273 non-null  object
 5   author                  41759 non-null  object
 6   author_link             41759 non-null  object
 7   rating_count            41759 non-null  int64
 8   review_count            41759 non-null  int64
 9   number_of_pages         39886 non-null  float64
 10  date_published          41071 non-null  object
 11  publisher               38866 non-null  object
 12  original_title          31463 non-null  object
 13  genre_and_votes         39521 non-null  object
 14  isbn                    32284 non-null  object
 15  isbn13                  31660 non-null  object
 16  asin                    4154 non-null   object
 17  settings                9286 non-null   object
 18  characters              10977 non-null  object
 19  awards                  8503 non-null   object
 20  amazon_redirect_link    41759 non-null  object
 21  worldcat_redirect_link  38556 non-null  object
 22  recommended_books       38608 non-null  object
 23  books_in_series         17663 non-null  object
 24  description             39688 non-null  object
dtypes: float64(1), int64(3), object(21)
memory usage: 8.0+ MB

In [41]:
df_test.describe()

,id,rating_count,review_count,number_of_pages,isbn13
count,1.044000e+04,1.044000e+04,10440.000000,9983.000000,7.847000e+03
mean,1.026734e+07,1.862243e+04,1017.657375,327.251227,9.773283e+12
std,1.172926e+07,9.869185e+04,3742.071556,259.859422,2.722149e+11
min,6.000000e+00,0.000000e+00,0.000000,0.000000,9.780616e+09
25%,3.583035e+05,3.210000e+02,30.000000,209.000000,9.780385e+12
50%,6.441912e+06,2.285000e+03,159.000000,304.000000,9.780747e+12
75%,1.741248e+07,9.400250e+03,607.250000,390.000000,9.781479e+12
max,5.398436e+07,2.905122e+06,102547.000000,14777.000000,9.978069e+12

In [35]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10440 entries, 0 to 10439
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      10440 non-null  int64
 1   title                   10440 non-null  object
 2   link                    10440 non-null  object
 3   series                  4672 non-null   object
 4   cover_link              10319 non-null  object
 5   author                  10440 non-null  object
 6   author_link             10440 non-null  object
 7   rating_count            10440 non-null  int64
 8   review_count            10440 non-null  int64
 9   number_of_pages         9983 non-null   float64
 10  date_published          10268 non-null  object
 11  publisher               9697 non-null   object
 12  original_title          7787 non-null   object
 13  genre_and_votes         9838 non-null   object
 14  isbn                    8032 non-null   object
 15  isbn13                  7847 non-null   float64
 16  asin                    1082 non-null   object
 17  settings                2229 non-null   object
 18  characters              2718 non-null   object
 19  awards                  2123 non-null   object
 20  amazon_redirect_link    10440 non-null  object
 21  worldcat_redirect_link  9658 non-null   object
 22  recommended_books       9597 non-null   object
 23  books_in_series         4415 non-null   object
 24  description             9936 non-null   object
dtypes: float64(2), int64(3), object(20)
memory usage: 2.0+ MB

It can be said that the features have unequal amount of data entries for both dataset

# Checking missing values

In [28]:
## a fucntion to return total percentage of the missing values

## reference here
def missing_percentage(df):
    total = df.isnull().sum().sort_values(ascending = False)
    
    percent = round(total / len(df)*100,2)
    
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

### Missing values on train dataset

In [29]:
missing_percentage(df_train)

                        Total  Percent
asin                    37605    90.05
awards                  33256    79.64
settings                32473    77.76
characters              30782    73.71
books_in_series         24096    57.70
series                  23112    55.35
original_title          10296    24.66
isbn13                  10099    24.18
isbn                     9475    22.69
worldcat_redirect_link   3203     7.67
recommended_books        3151     7.55
publisher                2893     6.93
genre_and_votes          2238     5.36
description              2071     4.96
number_of_pages          1873     4.49
date_published            688     1.65
cover_link                486     1.16
review_count                0     0.00
rating_count                0     0.00
author_link                 0     0.00
author                      0     0.00
amazon_redirect_link        0     0.00
link                        0     0.00
title                       0     0.00
id                          0     0.00

### Missing values on test dataset

In [32]:
missing_percentage(df_test)

                        Total  Percent
asin                     9358    89.64
awards                   8317    79.66
settings                 8211    78.65
characters               7722    73.97
books_in_series          6025    57.71
series                   5768    55.25
original_title           2653    25.41
isbn13                   2593    24.84
isbn                     2408    23.07
recommended_books         843     8.07
worldcat_redirect_link    782     7.49
publisher                 743     7.12
genre_and_votes           602     5.77
description               504     4.83
number_of_pages           457     4.38
date_published            172     1.65
cover_link                121     1.16
review_count                0     0.00
rating_count                0     0.00
author_link                 0     0.00
author                      0     0.00
amazon_redirect_link        0     0.00
link                        0     0.00
title                       0     0.00
id                          0     0.00

# Observations:

## If the target is any linear model (regression), it is required that the feaatures are normally distributed.